@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#121212] text-gray-200 overflow-hidden select-none m-0 p-0 font-sans;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  @apply bg-gray-700 rounded-full;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-600;
}
